In [105]:
import pandas as pd
import time

In [91]:
company_symbols = [
    "RELIANCE", "TCS", "INFY", "HDFCBANK", "ICICIBANK", "HINDUNILVR", "ITC",
    "KOTAKBANK", "LT", "SBIN", "BHARTIARTL", "BAJFINANCE", "ASIANPAINT",
    "DMART", "WIPRO", "AXISBANK", "MARUTI", "SUNPHARMA", "ULTRACEMCO",
    "TITAN", "ADANIENT", "ADANIPORTS", "COALINDIA", "TECHM", "TATASTEEL",
    "NTPC", "JSWSTEEL", "POWERGRID", "DIVISLAB", "ONGC", "GRASIM", "NESTLEIND",
    "HCLTECH", "BAJAJFINSV", "BRITANNIA", "INDUSINDBK", "BPCL", "EICHERMOT",
    "HAVELLS", "PIDILITIND", "CIPLA", "DRREDDY", "HEROMOTOCO", "M&M",
    "BAJAJ-AUTO", "GAIL", "DABUR", "ICICIPRULI", "SHREECEM", "SIEMENS", "AMBUJACEM", "VEDL", "BANKBARODA", 
    "BIOCON", "SRF", "TRENT", "TVSMOTOR", "CANBK", "TATACONSUM", "TATAPOWER",
    "GODREJCP", "INDIGO", "IOC", "MUTHOOTFIN", "BEL", "TORNTPHARM", "HDFCLIFE", "LUPIN", "PIIND", "NAUKRI", "PETRONET", 
    "INDUSTOWER", "APOLLOHOSP", "VOLTAS", "IDFCFIRSTB", "LICI"
]

In [107]:
dfin = pd.DataFrame()
for ticker in company_symbols:
    df = pd.read_html(f'https://www.screener.in/company/{ticker}/consolidated/#balance-sheet')[6].T
    df.columns = df.iloc[0]
    df = df[1:]
    df.index = df.index.map(lambda x:x[4:])
    df = df['Equity Capital'] + df['Reserves']
    dfin = pd.concat([dfin,df],axis=1)
    print(f"[{company_symbols.index(ticker)+1}/{len(company_symbols)}]: Scraped the Data for {ticker}")
    time.sleep(2) #Polite delay
dfin.columns = company_symbols

[1/76]: Scraped the Data for RELIANCE
[2/76]: Scraped the Data for TCS
[3/76]: Scraped the Data for INFY
[4/76]: Scraped the Data for HDFCBANK
[5/76]: Scraped the Data for ICICIBANK
[6/76]: Scraped the Data for HINDUNILVR
[7/76]: Scraped the Data for ITC
[8/76]: Scraped the Data for KOTAKBANK
[9/76]: Scraped the Data for LT
[10/76]: Scraped the Data for SBIN
[11/76]: Scraped the Data for BHARTIARTL
[12/76]: Scraped the Data for BAJFINANCE
[13/76]: Scraped the Data for ASIANPAINT
[14/76]: Scraped the Data for DMART
[15/76]: Scraped the Data for WIPRO
[16/76]: Scraped the Data for AXISBANK
[17/76]: Scraped the Data for MARUTI
[18/76]: Scraped the Data for SUNPHARMA
[19/76]: Scraped the Data for ULTRACEMCO
[20/76]: Scraped the Data for TITAN
[21/76]: Scraped the Data for ADANIENT
[22/76]: Scraped the Data for ADANIPORTS
[23/76]: Scraped the Data for COALINDIA
[24/76]: Scraped the Data for TECHM
[25/76]: Scraped the Data for TATASTEEL
[26/76]: Scraped the Data for NTPC
[27/76]: Scraped the Data for JSWSTEEL
[28/76]: Scraped the Data for POWERGRID
[29/76]: Scraped the Data for DIVISLAB
[30/76]: Scraped the Data for ONGC
[31/76]: Scraped the Data for GRASIM
[32/76]: Scraped the Data for NESTLEIND
[33/76]: Scraped the Data for HCLTECH
[34/76]: Scraped the Data for BAJAJFINSV
[35/76]: Scraped the Data for BRITANNIA
[36/76]: Scraped the Data for INDUSINDBK
[37/76]: Scraped the Data for BPCL
[38/76]: Scraped the Data for EICHERMOT
[39/76]: Scraped the Data for HAVELLS
[40/76]: Scraped the Data for PIDILITIND
[41/76]: Scraped the Data for CIPLA
[42/76]: Scraped the Data for DRREDDY
[43/76]: Scraped the Data for HEROMOTOCO
[44/76]: Scraped the Data for M&M
[45/76]: Scraped the Data for BAJAJ-AUTO
[46/76]: Scraped the Data for GAIL
[47/76]: Scraped the Data for DABUR
[48/76]: Scraped the Data for ICICIPRULI
[49/76]: Scraped the Data for SHREECEM
[50/76]: Scraped the Data for SIEMENS
[51/76]: Scraped the Data for AMBUJACEM
[52/76]: Scraped the Data for VEDL
[53/76]: Scraped the Data for BANKBARODA
[54/76]: Scraped the Data for BIOCON
[55/76]: Scraped the Data for SRF
[56/76]: Scraped the Data for TRENT
[57/76]: Scraped the Data for TVSMOTOR
[58/76]: Scraped the Data for CANBK
[59/76]: Scraped the Data for TATACONSUM
[60/76]: Scraped the Data for TATAPOWER
[61/76]: Scraped the Data for GODREJCP
[62/76]: Scraped the Data for INDIGO
[63/76]: Scraped the Data for IOC
[64/76]: Scraped the Data for MUTHOOTFIN
[65/76]: Scraped the Data for BEL
[66/76]: Scraped the Data for TORNTPHARM
[67/76]: Scraped the Data for HDFCLIFE
[68/76]: Scraped the Data for LUPIN
[69/76]: Scraped the Data for PIIND
[70/76]: Scraped the Data for NAUKRI
[71/76]: Scraped the Data for PETRONET
[72/76]: Scraped the Data for INDUSTOWER
[73/76]: Scraped the Data for APOLLOHOSP
[74/76]: Scraped the Data for VOLTAS
[75/76]: Scraped the Data for IDFCFIRSTB
[76/76]: Scraped the Data for LICI

In [112]:
dfin.to_excel('net_worth_timeseries.xlsx')

In [124]:
df_clean=pd.read_excel('net_worth_timeseries_cleaned.xlsx')
df_clean.rename({'Column1':'Year'},axis=1,inplace=True)
df_clean.set_index('Year',inplace=True)

In [125]:
df_clean

,RELIANCE,TCS,INFY,HDFCBANK,ICICIBANK,HINDUNILVR,ITC,KOTAKBANK,LT,SBIN,...,HDFCLIFE,LUPIN,PIIND,NAUKRI,PETRONET,INDUSTOWER,APOLLOHOSP,VOLTAS,IDFCFIRSTB,LICI
Year,,,,,,,,,,,,,,,,,,,,,
2014,198687,49195,44530,44167,76430,3537,27237,19084,37711,147371,...,1928,6932,695,672,NaN,18038,2977,1819,14677,810
2015,218499,50635,50736,63154,84705,4027,31736,22156,40909,161388,...,2541,8874,897,1415,5722.0,17020,3172,2102,14677,810
2016,231556,71072,61744,74304,94111,6573,42680,33364,44180,180592,...,3103,11163,1171,1543,6662.0,18242,3332,2811,14677,810
2017,263709,86214,68982,91794,104632,6744,46413,38492,50217,217192,...,3826,13497,1627,1592,8178.0,15500,3314,3307,14677,810
2018,293506,85128,64923,109599,110630,7281,52510,50488,54903,230321,...,4705,13577,1925,2045,9811.0,16965,3252,3905,15274,810
2019,387112,89446,64948,153673,114253,7867,59141,57781,62375,234495,...,5642,13742,2286,2543,10231.0,14532,3334,4110,18200,810
2020,449166,84126,65450,176358,122960,8229,65273,66637,66723,251060,...,6807,12537,2619,2195,11121.0,13543,3340,4280,15404,1002
2021,700172,86433,76351,209810,157587,47674,60347,84339,75869,275561,...,8640,13803,5342,5396,11807.0,15877,4603,4993,17900,6884
2022,779485,89139,75350,247327,182053,49061,62455,96665,82408,305588,...,15614,12153,6120,17242,13668.0,22151,5623,5499,21082,11338
2023,715872,90424,75407,289438,214498,50304,69155,111814,89326,358931,...,12993,12465,7198,13398,15265.0,21110,6198,5452,25847,46233
2024,793481,90489,88116,456396,256144,51218,74507,129972,86359,414939,...,14666,14290,8731,30262,17410.0,27039,6936,5820,32274,82747
2025,843200,94756,95818,517984,311836,49402,70030,157395,97656,487036,...,16155,17203,10157,34903,19878.0,32498,8212,6513,38007,127226